{% extends 'dashboard/base.html' %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h4 class="card-title">{{ title }}</h4>
              </div>
              <div class="card-body ">
                  <div class="row">
                    <label class="col-sm-2 col-form-label">Judul</label>
                    <div class="col-sm-10">
                      <div class="form-group">{{ artikel.judul }}</div>
                    </div>
                    <label class="col-sm-2 col-form-label">Isi Artikel</label>
                    <div class="col-sm-10">
                      <div class="form-group">{{ artikel.isi|safe }}</div>
                    </div>
                    <label class="col-sm-2 col-form-label">Kategori</label>
                    <div class="col-sm-10">
                      <div class="form-group">{{ artikel.kategori }}</div>
                    </div>
                    <label class="col-sm-2 col-form-label">Thumbnail</label>
                    <div class="col-sm-10">
                        {% if artikel.thumbnail %}
                        <img src="{{ artikel.thumbnail.url }}" alt="">
                        {% endif %}
                    </div>
                  </div>
              </div>
              <div class="card-footer text-right">
                <a class="btn btn-success" href="{% url 'kategori_list' %}">kembali</a>
              </div>
            </div>
          </div>
    </div>
</div>
{% endblock %}