{% extends 'halaman/base.html' %}
{% load static %}


{% block content %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/bg9.jpg' %}');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="title">About Us</h1>
                    <h4>Mahasiswa Universitas Muhammadiyah Kalimantan Timur Semester 4</h4>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="container">
        <div class="about-description text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h5 class="description">Selamat datang di InfoTech.com, sumber utama Anda untuk informasi terbaru dan terpercaya seputar teknologi, dan gadget! Kami berdedikasi untuk memberikan berita, ulasan, panduan, dan tips terbaik kepada para penggemar teknologi di seluruh dunia. Kami berkomitmen untuk menyajikan konten berkualitas tinggi yang informatif, terpercaya, dan relevan dengan kebutuhan Anda. Terima kasih telah memilih InfoTech.com sebagai sumber informasi teknologi, dan gadget. Tetaplah bersama kami untuk mendapatkan update terbaru dan menjadi bagian dari komunitas teknologi yang berkembang!</h5>
                </div>
            </div>
        </div>
        <div class="about-team team-1">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title"> Tech News </h2>
                    <h5 class="description"> Website ini bertujuan untuk memberikan informasi tentang Teknologi Perkembangan Gadget Terkini </h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="{% static 'halaman/assets/img/faces/marc.jpg' %}" /></a>
                        </div>

                        <div class="card-content">
                            <h4 class="card-title">Muhammad Reza Alfiannur</h4>
                            <h6 class="category text-muted"> Mahasiswa UMKT </h6>

                            <p class="card-description">
                                Mahasiswa Universitas Muhammadiyah Kalimantan Timur S1 Teknik Informatika, Fakultas Sains dan Teknologi.
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}