{% extends 'halaman/base.html' %}
{% load static %}

{% block content %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/bg9.jpg' %}');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="title">Contact</h1>
                    <h4> Hubungi kami jika ada kritik dan saran untuk website ini </h4>
            </div>
        </div>
    </div>
</div>

	<div class="main main-raised">
		<div class="contact-content">
    		<div class="container">
            	<h2 class="title">Kirim Pesan Anda Ke </h2>
				<div class="row">
                    <div class="col-12 col-md-12">
                        <div class="col-md-4 ">
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="material-icons">pin_drop</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title"> Universitas </h4>
                                    <p> Jl. Ir. H. Juanda No.15, Sidodadi,<br>
                                        Kec. Samarinda Ulu, Kota Samarinda,<br>
                                        Kalimantan Timur 75124
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 ">
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="material-icons">phone</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Hubungi</h4>
                                    <p> Muhammad Reza Alfiannur<br>
                                        2211102441240@umkt.ac.id<br>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 ">
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="material-icons">business_center</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Data diri</h4>
                                    <p> Muhammad Reza Alfiannur<br>
                                        2211102441240<br>
                                        S1 Teknik Informatika<br>
                                        Fakultas Sains & Teknologi
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
		</div>
    </div>
{% endblock content %}



